<a href="{{ path('admin_' ~ entity ~ '_index', {'field': field, 'order': 'ASC'}) }}">
    <i class="fas fa-sort-up"></i>
</a>
<a href="{{ path('admin_' ~ entity ~ '_index', {'field': field, 'order': 'DESC'}) }}">
    <i class="fas fa-sort-down"></i>
</a>