{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<form class="section container" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" value="{{ last_username }}" name="email" id="inputEmail"  placeholder="votre adresse email">
        </div>
    </div>

    <div class="field">
        <label class="label">Mot de Passe</label>
        <div class="control">
            <input class="input" type="password" name="password" id="inputPassword" placeholder="mot de Passe">
        </div>
    </div>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >

    <div class="control">
        <button class="button is-link" type="submit">
            Se Connecter
        </button>
    </div>

</form>
{% endblock %}
