{% extends 'base.html.twig' %}

{% block title %}404 - page non trouvée{% endblock %}

{% block main %}
<div class="container">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h2 class="subtitle">
                    La page recherchée n'existe pas
                </h2>
                <div class="tile has-text-centered">
                    <figure class="image is-5by3">
                            <img src="https://cdn.shopify.com/s/files/1/0322/6897/files/404-permalink_1170x1170.png?432866230176278629" alt="go">
                    </figure>
                </div>
                <a href ="{{ path('board_index')}}">Retourner au tableau de bord</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}