<div id="app">
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Attibuer un commercial à la société {{ company.name }}:</p>
                <button class="modal-close is-large" aria-label="close"></button>
            </header>
                <section class="modal-card-body has-text-centered">
                {% for salesUser in salesUsers %}
                    <form class="" action='{{ path('user_show', {'id': salesUser.id}) }}' method="GET">
                        {# <input class="" type="hidden" name="_method" value="PATCH"> #}
                        <button type="submit" class="button">{{ salesUser.person.firstname }} {{ salesUser.person.lastname }}</button>
                    </form>
                {% endfor %}
            </section>
        </div>
    </div>
    <button class="button showModal"><i class="fas fa-user-plus"></i></button>
</div>