<div id="app">
    <div class="modal">
        <div class="modal-background "></div>
        <div class="section modal-content has-background-white has-text-primary">
            Attribuer en commercial
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <p>
        <button class="button" id="showModal"><i class="fas fa-user-plus"></i></button>
    </p>
</div>