{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="section level-left">
            <div class="level-item">
                <h2 class="level-item subtitle has-text-info is-3">Produit</h2>
            </div>
            <button class="level-item button is-info is-small is-size-4">Référence</button>
        </div>
        <div class="tile is-ancestor">
            {# Début des Tiles #}
            <div class="tile is-parent is-4 is-vertical">
                <article class="tile is-child">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                </article>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Description</p>
                    <p class="subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore ipsa, at delectus minus, eveniet quod laudantium exercitationem neque voluptatum libero asperiores adipisci quas quos quasi, dolorem pariatur. Eos, fuga ab! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore ipsa, at delectus minus, eveniet quod laudantium exercitationem neque voluptatum libero asperiores adipisci quas quos quasi, dolorem pariatur. Eos, fuga ab!</p>
                </article>
                <div class="tile">
                    <article class="tile is-child">
                        <p class="title">Catégories</p>
                        <p class="subtitle">Rouges, Côtes du Rhône</p>
                    </article>
                    <article class="tile is-child">
                        <p class="title">Statuts</p>
                        <p>Disponible: <span class="has-text-weight-bold">Oui</span></p>
                        <p>Affichage Vitrine: <span class="has-text-weight-bold">Oui</span></p>
                    </article>
                </div>
            </div>
            {# Fin des Tiles #}
        </div>
    </div>
{% endblock %}