{# templates/emails/registration.html.twig #}
<h3>Bravo, vous faîtes désormais partie de la communauté Beer o'Clock</h3>

Bonjour {{ contactFullName }}! Votre inscription a bien été enregistrée !

{# example, assuming you have a route named "login" #}
{# Pour vous connecter, il suffit de suivre le lien suivant : <a href="{{ url('app_login') }}">Connexion à o'Faq</a>. #}

Merci !