<h2>Bonjour {{ contactFullName }}! Votre inscription a bien été enregistrée !</h2>

<h3>Vous faîtes désormais partie de la communauté Beer o'Clock, nous vous en remercions</h3>

<p>Vous pouvez désormais vous connecter et consulter notre catalogue. Nous allons rapidement vous recontacter pour vous apporter toutes les informations complémentaires dont vous auriez besoin.</p>
