<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ message }}</p>
        </header>
        <section class="modal-card-body has-text-centered">
            <button type="submit" class="button is-large is-success">Confirmer</button>
            <button class="button modal-closeConfirm is-large is-danger" aria-label="close">Annuler</button>
        </section>
    </div>
</div>
