<section class="hero is-primary navbar is-fixed-top">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ path('board')}}">
                        <img src="{{ asset('images/cerberus_logo.png') }}" alt="CerberusCRM">
                        <h1 class="title is-3 has-text-white">o'Wine'rs</h1>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHero9">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </div>
                <div id="navbarMenuHero9" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active" href="{{ path('board')}}">
                                Tableau de bord
                            </a>
                            <a class="navbar-item" href="{{ path('list-test')}}">
                                Catalogue
                            </a>
                            <a class="navbar-item">
                                Sociétés
                            </a>
                            <a class="navbar-item">
                                Demandes
                            </a>
                            <a class="navbar-item">
                                Contacts
                            </a>
                            <a class="navbar-item">
                                Utilisateurs
                            </a>
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a class="button is-light" data-target="modal-login">
                                        Profil
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="modal" id="modal-login" >
            <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Se Connecter</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                    Coucou
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success">Valider</button>
                        <button class="button">Annuler</button>
                    </footer>
                </div>
            </div>
    </div>
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <div class="box has-background-info">
            <p class="title has-text-centered is-6"><span class="has-text-weight-bold">Philippe POIRON</span> - Administrateur Système</p>
        </div>
    </div>
</section>