<form class="level-item" action='{{ path('product_archive', {'id': product.id}) }}' method="POST">
    <input class="" type="hidden" name="_method" value="PATCH">
    <button type="submit" class="button is-warning"><i class="fas fa-archive"></i></button>
</form>