<a href="{{ path('product_index', {'field': field, 'order': 'ASC', 'category': category.name}) }}">
    <i class="fas fa-sort-up"></i>
</a>
<a href="{{ path('product_index', {'field': field, 'order': 'DESC', 'category': category.name}) }}">
    <i class="fas fa-sort-down"></i>
</a>