<a href="{{ path('contact_index', {'filter': filter, 'filterName': filterName, 'table': table, 'field': field, 'order': 'ASC'}) }}">
    <i class="fas fa-sort-up"></i>
</a>
<a href="{{ path('contact_index', {'filter': filter, 'filterName': filterName, 'table': table, 'field': field, 'order': 'DESC'}) }}">
    <i class="fas fa-sort-down"></i>
</a>