<form class="level-item" action='{{ path('company_archive', {'id': company.id}) }}' method="POST">
    <input class="" type="hidden" name="_method" value="PATCH">
    {% if notArchived %}
        {% include 'partial/_confirm_cancel_modal.html.twig' with {'message': 'Confirmation d\'Archivage'} %}
        <button class="button showModalConfirm is-warning"><i class="fas fa-archive"></i></button>
    {% else %}
        {% include 'partial/_confirm_cancel_modal.html.twig' with {'message': 'Confirmation de Désarchivage'} %}
        <button class="button showModalConfirm is-success"><i class="fas fa-archive"></i></button>
    {% endif %}
</form>