<a href="{{ path('company_index', {'field': field, 'order': 'ASC', 'filter': filterValue}) }}">
    <i class="fas fa-sort-up"></i>
</a>
<a href="{{ path('company_index', {'field': field, 'order': 'DESC', 'filter': filterValue}) }}">
    <i class="fas fa-sort-down"></i>
</a>